@model IEnumerable<Security>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@await Html.PartialAsync("_FilterPartial")


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Series</th>
            <th>Listing Date</th>
            <th>Market Lot</th>
            <th>Security Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Symbol)</td>
                <td>@Html.DisplayFor(modelItem => item.Series)</td>
                <td>@Html.DisplayFor(modelItem => item.ListingDate)</td>
                <td>@Html.DisplayFor(modelItem => item.MarketLot)</td>
                <td>@Html.DisplayFor(modelItem => item.SecurityType)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
